.organization-box {
  background: grey;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 30%;
  height: 200px;
  float: left;
}

.organization-img {
  width: 100%;
}

.organizations-list {

}

.organization-box-details {
  height: 31%;
  overflow-y: scroll;
}
