<!DOCTYPE html>
<html>
<head>
  <title>Sprinter</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class='container-fluid'>

<%= yield %>

</body>
</html>
